a.button:hover {
	opacity: 50%;
	transition: 0.25s;
}
a.button_bio:hover {
	opacity: 50%;
	transition: 0.25s;
}
a.button_portfolio:hover {
	opacity: 50%;
	transition: 0.25s;
}
.about_map img:hover {
	opacity: 75%;
	transition: 0.25s;
}
.about_menu_item:hover {
	opacity: 50%;
	transition: 0.25s;
}
.button_submit:hover {
	opacity: 50%;
	transition: 0.25s;
}
.brand:hover {
	box-shadow: 0px 0px 5px 0 rgba(0,0,0,0.10),
				0px 0px 20px 0 rgba(0,0,0,0.20);
	transition: 0.5s;
}
.movie:hover {
	box-shadow: 0px 0px 5px 0 rgba(0,0,0,0.10),
				0px 0px 20px 0 rgba(0,0,0,0.20);
	transition: 0.5s;
}