.top {
	display: block;
	position: fixed;
	z-index: 10;
	width: 100%;
}
.nav_bar {
	position: relative;
	padding: 8px 8px;
	overflow: hidden;
	background-color: white;
	display: block;
	box-shadow: 0px 5px 5px 0 rgba(0,0,0,0.10),
				0px 5px 15px 0 rgba(0,0,0,0.20);
}
.nav_bar a {
	padding: 8px 16px;
	margin: 0px 4px;
	float: right;
	display: block;
	color: black;
	border-radius: 20px;
	text-decoration: none;
	letter-spacing: 2px;
/*	transition: 0.25s;*/
	opacity: 100%;
}
#logo {
	padding: 0!important;
	margin: 0px 0px 0px 60px; 
	float: left;
	display: block;
}
.nav_item:hover {
	background-image: linear-gradient(-45deg, #ff158b, #ffa304);
	transition: 0.5s;
	color: white;
	cursor: pointer;
}
.landing_page {
	display: block;
	overflow: hidden;
	margin-bottom: 26px;
}
.image {
	display: block;
	margin-top: 120px;
}
.image img{
	display: block;
	float: right;
	max-height: 480px;
	transform: translate(16%, -4%);
	top: 50%;
}
.menu {
	position: absolute;
	display: inline-block;
	margin: 16px 16px 16px 64px;
	max-width: 50%;
	transform: translateY(18%);
}
#headline {
	font-family: arial;
	font-size: 52px;
}
.button {
	display: block;
	opacity: 100%;
	transition: 0.25s;
	text-align: center;
	text-decoration-line: none;
	color: white;
	font-family: Helvetica;
	font-size: 18px;
	background-image: linear-gradient(-45deg, #ff158b, #ffa304);
	padding: 16px 64px;
	width: 40%;
	border-radius: 28px;
	margin: 48px 0px 0px 0px;
	box-shadow: 0px 5px 5px 0 rgba(0,0,0,0.15),
				0px 5px 15px 0 rgba(0,0,0,0.25);
}
.button span {
  	cursor: pointer;
  	display: block;
  	position: relative;
  	transition: 0.5s;
}
.button span:after {
  	content: '\00bb';
  	position: absolute;
  	opacity: 0;
  	top: 0;
  	right: -20px;
  	transition: 0.5s;
}
.button:hover span {
  	padding-right: 20px;
}
.button:hover span:after {
  	opacity: 1;
  	right: 0;
}
input:focus {
	background-image: linear-gradient(45deg, #503C9C, #2B84DE);
	color: #FFFFFF;
	transition: 0.5s;
}


/*ADD-ON ONLY*/

/*{
-webkit-animation-name: animatetop;
-webkit-animation-duration: 0.75s;
animation-name: animatetop;
animation-duration: 0.75s;
cursor: default;
}

@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0} 
  to {top:0; opacity:1}
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}*/